<!--  models -->
<div class="form-group mb-3">
  <label class="form-label" for="models">model</label>
  <select
    (change)="onModelChanged()"
    *ngIf="models$ | async as models; else loadingModels"
    [(ngModel)]="request.model"
    class="form-select"
    id="models"
    required
  >
    <option
      *ngFor="let m of models | orderBy: 'name' : false : true"
      [ngValue]="m.id"
    >
      {{ m.name }}
    </option>
  </select>
  <ng-template #loadingModels>
    <div>
      <span class="spinner-border spinner-border-sm ms-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
  </ng-template>
</div>
<!-- providers -->
<div class="form-group mb-3">
  <span class="d-inline-block form-label">providers</span>
  <!-- chat completion -->
  <div class="form-check mb-3">
    <input
      [(ngModel)]="request.chat_completions"
      class="form-check-input"
      id="useChatCompletion"
      type="checkbox"
    />
    <label class="form-check-label" for="useChatCompletion">
      use chat completion
    </label>
  </div>
  <div
    (cdkDropListDropped)="onProviderReordered($event)"
    *ngIf="!providersIsLoading; else loadingProviders"
    cdkDropList
    class="list-group"
  >
    <label
      *ngFor="let provider of providers"
      cdkDrag
      class="list-group-item d-flex gap-2"
    >
      <input
        (change)="onProviderChanged($event, provider)"
        checked
        class="form-check-input flex-shrink-0"
        type="checkbox"
        value="{{ provider.provider_name }}"
      />
      <span class="w-100">
        <strong>{{ provider.provider_name }}</strong>
        <small class="d-inline-flex justify-content-between w-100">
          <span
          >{{ provider.context_length | shortNumber }} /{{
              provider.max_completion_tokens
                ? (provider.max_completion_tokens | shortNumber)
                : '??'
            }}</span
          >
          <span
          >{{ provider.pricing.prompt * 1000000 | number: '1.2-2' }} $/{{
              provider.pricing.completion * 1000000 | number: '1.2-2'
            }}$</span
          >
        </small>
      </span>
      <svg
        class="bi pe-none me-2 float-end ms-auto align-self-center"
        fill="currentColor"
        height="16"
        width="16"
      >
        <use xlink:href="/bootstrap-icons.svg#grip-vertical"></use>
      </svg>
    </label>
  </div>
  <ng-template #loadingProviders>
    <div>
      <span class="spinner-border spinner-border-sm ms-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </span>
    </div>
  </ng-template>
</div>
<!-- temp -->
<div class="form-group mb-1">
  <label class="form-label" for="temperature"
  >temperature : {{ request.temperature }}</label
  >
  <input
    [(ngModel)]="request.temperature"
    class="form-range"
    id="temperature"
    max="2"
    min="0.01"
    name="temperature"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- max_tokens -->
<div class="form-group mb-3">
  <label class="form-label" for="max_tokens">max tokens</label>
  <input
    [(ngModel)]="request.max_tokens"
    class="form-control"
    id="max_tokens"
    min="0"
    name="max_tokens"
    required
    type="number"
  />
</div>
<!-- top_p -->
<div class="form-group mb-1">
  <label class="form-label" for="top_p">top p : {{ request.top_p }}</label>
  <input
    [(ngModel)]="request.top_p"
    class="form-range"
    id="top_p"
    max="1"
    min="0"
    name="top_p"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- top_k -->
<div class="form-group mb-3">
  <label class="form-label" for="top_k">top k</label>
  <input
    [(ngModel)]="request.top_k"
    class="form-control"
    id="top_k"
    min="0"
    name="top_k"
    required
    type="number"
  />
</div>
<!-- min_p -->
<div class="form-group mb-1">
  <label class="form-label" for="min_p">min p : {{ request.min_p }}</label>
  <input
    [(ngModel)]="request.min_p"
    class="form-range"
    id="min_p"
    max="1"
    min="0"
    name="min_p"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- top_a -->
<div class="form-group mb-1">
  <label class="form-label" for="top_a">top a : {{ request.top_a }}</label>
  <input
    [(ngModel)]="request.top_a"
    class="form-range"
    id="top_a"
    max="1"
    min="0"
    name="top_a"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- frequency_penalty -->
<div class="form-group mb-3">
  <label class="form-label" for="frequency_penalty"
  >frequency penalty : {{ request.frequency_penalty }}</label
  >
  <input
    [(ngModel)]="request.frequency_penalty"
    class="form-range"
    id="frequency_penalty"
    max="2"
    min="-2"
    name="frequency_penalty"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- presence_penalty -->
<div class="form-group mb-3">
  <label class="form-label" for="presence_penalty"
  >presence penalty : {{ request.presence_penalty }}</label
  >
  <input
    [(ngModel)]="request.presence_penalty"
    class="form-range"
    id="presence_penalty"
    max="2"
    min="-2"
    name="presence_penalty"
    required
    step="0.01"
    type="range"
  />
</div>
<!-- repetition_penalty -->
<div class="form-group mb-3">
  <label class="form-label" for="repetition_penalty"
  >repetition penalty : {{ request.repetition_penalty }}</label
  >
  <input
    [(ngModel)]="request.repetition_penalty"
    class="form-range"
    id="repetition_penalty"
    max="2"
    min="-2"
    name="repetition_penalty"
    required
    step="0.01"
    type="range"
  />
</div>
